{% extends "base.html" %}

{% block theme_class %}screen0-theme{% endblock %}

{% block content %}
<div class="screen-content-scroll">

    <div class="screen0-container">

        <div class="screen0-body">

            <!-- LEFT COLUMN -->
            <div class="screen0-left-column">
                <img src="/static/img/oba_logo.png" class="oba-logo">
            </div>

            <!-- RIGHT COLUMN -->
            <div class="screen0-right-column">

                <p class="screen0-lead">
                    You may now safely close this window.
                </p>


            </div>

        </div>

    </div>

</div>
{% endblock %}


